<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Rogerio da Costa Carballo
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>